#name{
    text-align: center;
    color: white;
    background-color: black;
}
#picture{
    width: 20%;
    text-align: center;
    background-color: black;
}

#details{
    
    color: white;
    background-color: black;

}
#maindetails{
    text-align: left;
}

.tablewidth{
    width: 70%;
}